p{color:green;font-family: 'Josefin Sans', sans-serif;}

h1{font-family: 'Josefin Sans', sans-serif; color: maroon;}

h2{font-family: 'Josefin Sans', sans-serif;}

ul{font-family: 'Josefin Sans', sans-serif;color: yellow;}